/* IMPORTS */

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


/* VARIABLES */
:root {

  /* Font-family */
  --main-font-family: 'Inter', sans-serif;

  /* Font-weights */
  --fw-reg: 400;
  --fw-bold: 700;

  /* Colors */
  --main-dark-color: rgba(0, 0, 0, 1);
  --main-nuetral-color: rgba(48, 48, 48, 1);
  --main-light-color: rgba(255, 255, 255, 1);

}


/* HTML */
/* Font-size and box-sizing */

html {
  font-size: 16px;
  font-family: var(--main-font-family);
  font-weight: var(--fw-reg);
  /* color: var(--main-light-color); */
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


/* MAIN STYLES */

/* body */
.main-container {
  height: 100vh;
  color: var(--main-light-color);
}


/* Main Content */
.main-content {
  height: 100%; 
  background-image: url(../assets/mobile/bg-image-daytime.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


/* Background Div for Image Styling */
.main-bg-container {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/* Quote Container */
.quote-container {
  padding-top: 1.979375rem;
  padding-right: 1.59375rem;
  padding-left: 1.59375rem;
  font-size: 0.75rem;
  line-height: 1.375rem;
}


/* Quote Content Container */
.quote-content-container {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
}


/* Quote Copy */
.quote-copy {
  max-width: 90%;
}


/* Refresh Button */
.refresh-btn {
  height: 1.041875rem;
  width: 1.041875rem;
  /* margin-left: 1.041875rem; */
  background-image: url(../assets/desktop/icon-refresh.svg);
}


/* Quote Author */
.quote-author {
  font-weight: var(--fw-bold);
}


/* Time and Location Container */
.time-location-container {
  height: 17rem;
  margin-bottom: 2.5rem;
  margin-left: 1.59375rem; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/* Greeting Container */
.greeting-container {
  height: 11.5625rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/* Greeting Copy Container */
.greeting-copy-container {
  height: 1.5rem;
  display: flex;
  align-items: center;
}


/* Greeting Icon */
.greeting-icon {
  height: 1.5rem;
  width: 1.5rem;
  background-image: url(../assets/desktop/icon-sun.svg);
  background-repeat: no-repeat;
}


/* Greeting Copy */
.greeting-copy {
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  letter-spacing: 0.1875rem;
  margin-left: 1rem;
}

/* Greeting Copy For Tablert and Larger */
.tab-greeting {
  display: none;
}


/* Time Container */
.time-container {
  height: 6.25rem;
  display: flex;
  align-items: baseline;
}

/* Time Copy */
.time-copy {
  font-size: 6.25rem;
  line-height: 6.25rem;
  letter-spacing: -0.15625rem;
  font-weight: var(--fw-bold);
}


/* Timezone Abbreviation Copy */
.timezone-abbr-copy {
  font-size: 0.9375rem;
  line-height: 1.75rem;
  margin-left: 0.3125rem;
}


/* Location Copy */
.location-copy {
  font-size: 0.9375rem;
  line-height: 1.75rem;
  letter-spacing: 0.1875rem;
  font-weight: var(--fw-bold);
  text-transform: uppercase;
}


/* Info Button */
.info-btn {
  height: 2.4375rem;
  width: 7.1875rem;
  background-color: var(--main-light-color);
  border-radius: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


/* Info Button Copy */
.info-btn-copy {
  color: var(--main-dark-color);
  opacity: 0.5;
  font-size: 0.8rem;
  line-height: 0.875rem;
  letter-spacing: 0.234375rem;
  font-weight: var(--fw-bold);
}


/* Info Button Icon */
.info-btn-icon {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  margin-right: 0.25rem;
  margin-left: 0.78125rem;
  background-color:var(--main-dark-color);
  background-image: url(../assets/desktop/icon-arrow-down.svg);
  background-repeat: no-repeat;
  background-position: center;
}


/* ******************************************************** */
                      /* STATS DROPDOWN */
/* ******************************************************** */

/* Stats container */
.stats-container {
  height: 38%;
  background-color: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(40.7742px);
  display: none;
  align-items: center;
  justify-content: center;
}


/* Stats Content Container */
.stats-content-container {
  height: 10rem;
  width: 86%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/* Stat Container */
.stat-container {
  height: 1.75rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--main-nuetral-color);
}


/* Stat Headline */
.stat-headline {
  font-size: 0.625rem;
  line-height: 1.75rem;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}


/* Stat Copy */
.stat-copy {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: var(--fw-bold);
}


/* ************************************************************************************ */
                                  /* DARK MODE */
/* ************************************************************************************ */


/* Main Content */
/* .main-content-dark-bg {
  background-image: url(../assets/mobile/bg-image-nighttime.jpg); */
/* } */


/* Greeting Icon */
/* .greeting-icon-dark {
  background-image: url(../assets/desktop/icon-moon.svg); */
/* } */


/* Stats Container */
/* .stats-container-dark-bg {
  background-color: rgba(0, 0, 0, 0.75); */
/* } */


/* Stat Copy */
/* .stat-headline-dark,
.stat-copy-dark {
  color: var(--main-light-color); */
/* } */


/* ************************************************************************************ */
                                /* MEDIA QUERIES */
/* ************************************************************************************ */


/* TABLET */
/* 539px Surface Duo */
@media screen and (min-width: 767px) {


  /* Main Content */
  .main-content {
    background-image: url(../assets/tablet/bg-image-daytime.jpg);
  }


  /* Quote Container */
  .quote-container {
    max-width: 75%;
    padding-top: 5rem;
    padding-left: 4rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
  }


  /* Quote Content Container */
  .quote-content-container {
    margin-bottom: 0.8125rem;
  }


  /* Refresh Button */
  .refresh-btn {
    margin-top: 0.3125rem;
  }


  /* Time and Location Container */
  .time-location-container {
    height: 22.9375rem;
    margin-left: 4rem;
  }


  /* Greeting Container */
  .greeting-container {
    height: 14.4375rem;
  }


  /* Greeting Copy */
  .greeting-copy {
    font-size: 1.125rem;
    line-height: 1.75rem;
    letter-spacing: 0.225rem;
  }


  /* Tablet and Larger Greeting Copy */
  .tab-greeting {
    display: inline;
  }


  /* Time Container */
  .time-container {
    height: 10.9375rem;
  }


  /* Time Copy */
  .time-copy {
    font-size: 10.9375rem;
    line-height: 10.9375rem;
    letter-spacing: -0.27375rem;
  }


  /* Timezone Abbreviation Copy */
  .timezone-abbr-copy {
    font-size: 2rem;
    margin-left: 0.6875rem;
  }


  /* Location Copy */
  .location-copy {
    font-size: 1.125rem;
    letter-spacing: 0.225rem;
  }


  /* Info Button */
  .info-btn {
    height: 3.5rem;
    width: 9.125rem;
  }

  /* Info Button Copy */
  .info-btn-copy {
    font-size: 1rem;
    line-height: 1.75rem;
    letter-spacing: 0.3125rem; 
  }


  /* Info Button Icon */
  .info-btn-icon {
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 0.25rem;
    margin-left: 0.78125rem;
  }


  /* Stats Container */
  .stats-container {
    justify-content: flex-start;
    /* padding-left: 4rem; */
  }


  /* Stats Content Container */
  .stats-content-container {
    height: 12.625rem;
    width: 70%;
    margin-left: 4rem;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    grid-column-gap: 20%;
    grid-row-gap: 1.5rem;
  }


  /* Stat Container */
  .stat-container {
    height: 4.8125rem;
    flex-direction: column;
    align-items: flex-start;
  }

  /* Stat Headline */
  .stat-headline {
    font-size: 0.8125rem;
    line-height: 1.75rem;
    letter-spacing: 0.1625rem;
  }

  /* Stat Copy */
  .stat-copy {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  /* DARK MODE */

  /* Main Content */
  /* .main-content-dark-bg { 
    background-image: url(../assets/tablet/bg-image-nighttime.jpg); 
  } */


}


/* DESKTOP */
/* 1024 */


@media screen and (min-width: 1024px) {


  /* Main Content */
  .main-content {
    background-image: url(../assets/desktop/bg-image-daytime.jpg);
  }


  /* Quote Container */
  .quote-container {
    max-width: 50%;
    padding-top: 3.5rem;
    padding-left: 10.3125rem;
  }


  /* Refresh Button */
  .refresh-btn {
    margin-top: 0.625rem;
  }


  /* Time and Location Container */
  .time-location-container {
    height: 18rem;
    margin-right: 10.3125rem;
    margin-bottom: 6.125rem;
    margin-left: 10.3125rem;
    flex-direction: row;
    align-items: flex-end;
  }


  /* Greeting Container */
  .greeting-container {
    height: 18rem;
  }


  /* Greeting Copy */
  .greeting-copy {
    font-size: 1.25rem;
    letter-spacing: 0.25rem;
  }


  /* Time Container */
  .time-container {
    height: 12.5rem;
  }


  /* Time Copy */
  .time-copy {
    font-size: 12.5rem;
    line-height: 12.5rem;
    letter-spacing: -0.3125rem;
  }


  /* Timezone Abbreviation Copy */
  .timezone-abbr-copy {
    font-size: 2.5rem;
  }


  /* Location Copy */
  .location-copy {
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
  }


  /* Stats Content Container */
  .stats-content-container {
    height: 12.625rem;
    width: 60%;
    margin-left: 10.3125rem;
  }


  /* Stat Container */
  .stat-container {
    height: 6.5625rem;
    flex-direction: column;
    align-items: flex-start;
  }


}